<!DOCTYPE html>
<html>
<head>
  <title>Web Eye Tracker</title>
  <script src="https://webgazer.cs.brown.edu/webgazer.js"></script>
  <script src="/static/js/gaze.js" defer></script>
  <script src="/static/js/calibration.js" defer></script>
  <script src="/static/js/heatmap.js" defer></script>
  <script src="/static/js/dowloadData.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-gray-100 text-center">
  <h1 class="text-3xl font-bold mt-5">Web Eye Tracker</h1>
  <video id="webcam" autoplay muted width="320" height="240" class="mx-auto mt-4"></video>
  <canvas id="overlay" width="320" height="240" class="absolute"></canvas>
  <button onclick="startTracking()" class="bg-blue-500 text-white px-4 py-2 rounded mt-4">Start Tracking</button>
  <button onclick="startCalibration()" class="bg-blue-500 text-white px-4 py-2 rounded mt-4">Start calibration</button>
  <button onclick="downloadData()">Download Gaze Data</button>
</body>
<style>
  .calibration-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    z-index: 1000;
  }
</style>
</html>